body {
  
}

#space {
  height: 4em;
}

#msg {
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 1em;
  color: red;
  padding-top: .2em;
  padding-bottom: .2em;
  background-color: rgba(210, 210, 210, .8);
  transition: .25s ease-in-out;
}

#msg.success {
  color: black;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  padding-left: .2em;
  padding-right: .2em;
}

#loading {
    position: fixed;
    width: 400px;
    height: 262px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -131px;
}

.hidden {
		display: none !important;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

#checkmark {
  animation-play-state: running;
  -webkit-animation-play-state: running;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  stroke-width: 1.07vh;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 5.4vh auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 25.7vh;
  stroke-dashoffset: 25.7vh;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

#checkmark.hidden {
  display: none;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 16vh #7ac142;
  }
}