html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Bernard';
     src: url('../fonts/BERNHC.TTF');
}

@font-face {
    font-family: 'Berlin';
    src: url('../fonts/Berlin.ttf');
}

body {
    background-color: rgb(255,255,255);
}

#homeDiv {
	display: block;
	max-width: 700px;
	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#slogan1 {
    left: 5px;
    position: relative;
    font-family: 'Berlin';
    top: 2.7em;
    text-align: left;
    font-size: 1.3em;
    white-space: nowrap;
    overflow: hidden;
}

#slogan2 {
    right: 5px;
    position: relative;
    font-family: 'Berlin';
    top: 1.7em;
    text-align: right;
    font-size: 1.3em;
    white-space: nowrap;
    overflow: hidden;
}

#lgdiv {
	display: block;
  margin-top: 3em;
  height: auto;
  overflow: hidden;
	padding-bottom: 20%;
}

#lifeguard {
  z-index: 1;
	width: 150%;
	margin-left: -50%;
	min-height: 100px;
	right: 0;
	overflow: hidden;
}
#ordernow {
    display: block;
    width: 45%;
		height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30%;
    z-index: 2;
}
#bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 70%;
    left: 15%;
    overflow: hidden;
}

#hdiw {
    text-align: center;
    font-family: "Berlin";
    font-size: xx-large;
    text-decoration: underline;
		margin-bottom: 9px;
}

#beachdiv {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#stepDiv {
	position: relative;
	display: block;
	margin-top: 30px;
	margin-right: 0;
	margin-left: auto;
	text-align: left;
	width: 50%;
	z-index: 2;
}

#step1 {
	margin: 5px;
	font-family: "Berlin";
	font-size: x-large;
}

#step2 {
	margin: 5px;
	font-family: "Berlin";
	margin-left: 20px;
	font-size: x-large;
	margin-top: 10px;
}

#step3 {
	margin: 5px;
	font-family: "Berlin";
	margin-left: 40px;
	font-size: x-large;
	margin-top: 10px;
}

#phoneman {
	position: relative;
	margin-top: -100px;
  background-color: rgb(81, 188, 255);
  width: 100%;
  height: auto;
  z-index: 1 !important;
}

#foodman {
    background-color: rgb(81, 188, 255);
    width: 100%;
    height: auto;
    z-index: 1;
}

#step4 {
    position: relative;
    font-family: "Berlin";
    font-size: 70px;
		margin-left: 3%;
    margin-top: -110px;
    z-index: 2;
}